<!DOCTYPE html>
<html>
<head>
  <title>EACIIT</title>
  <link href='{{BaseUrl}}asset/css/bootstrap.min.css' rel='stylesheet'>
  <link href='{{BaseUrl}}asset/materialize/materialize.min.css' rel='stylesheet'>
  <link rel='stylesheet' href='{{ NoCacheUrl "asset/css/app.css" }}'>

  <script type="javascript" href="{{BaseUrl}}asset/js/jquery.min.js"></script>
  <script type="javascript" href="{{BaseUrl}}asset/materialize/materialize.min.js"></script>
</head>
<body>
    <div class="container">
    {{.Content}}
    </div>
</body>
</html>